<div class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-5 gap-2 md:gap-4">
    <ng-container *ngFor="let photo of (photosResult$ | async)?.photos">
        <a routerLink="photodetails/{{photo.id}}">
            <img class="hover:opacity-75 duration-300 ease-in-out h-auto w-full rounded-lg shadow-lg" loading="lazy" src="{{photo.thumbnailUrl}}" alt="">
        </a>
    </ng-container>
</div>
<div *ngIf="showButtons$ | async" >
    <button *ngIf="currentPage > 1" (click)="goToPrevPage()">previous</button>
    <button (click)="goToNextPage()">next</button>
</div>
