<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-2 md:gap-4">
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
    <a routerLink="photodetails/1">
        <img class="h-auto max-w-full rounded-lg" loading="lazy" src="assets/sample.png" alt="">
    </a>
</div>
