<div class="font-mono text-lg font-thin text-gray-900 dark:text-white w-full flex flex-col items-center gap-5 md:gap-10">
    <p>Photo Browser is a simple web app representing features that are fairly common in many real life web apps out there. It has the following features, among others:</p>
    <ul class="list-disc px-5">
        <li>fetch JSON formatted data from a REST API</li>
        <li>present the data in a grid</li>
        <li>basic navigation to different pages: browser, about, details, error</li>
        <li>paging functionality in the list view</li>
        <li>back and forth browsing functionality in the details view</li>
        <li>lazy loaded images in grid view</li>
        <li>responsive layout</li>
    </ul>
    <app-backbutton/>
</div>

