<div class="mx-auto max-w-screen-lg p-4 mt-5 md:mt-10">
    <div class="sticky top-0 z-10 w-full mb-10 bg-white">
        <h1 class="text-3xl text-center font-black font-mono">Photo<span class="underline decoration-8 decoration-indigo-400">browser</span></h1>
    </div>
    <nav class="mb-10 w-full flex flex-row justify-center gap-5">
      <a class="font-mono text-lg font-thin hover:decoration-indigo-400 hover:underline underline-offset-4 decoration-2" routerLink="/photogrid">Photos</a>
      <a class="font-mono text-lg font-thin hover:decoration-indigo-400 hover:underline underline-offset-4 decoration-2" routerLink="/albums">Albums</a>
    </nav>
    <router-outlet></router-outlet>
</div>
