<div class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-5 gap-2 md:gap-4 mb-24">
    <ng-container *ngFor="let photo of (photosResult$ | async)?.photos; trackBy: getPhotoId">
        <app-thumbnail [photo]="photo"/>
    </ng-container>
</div>
<div data-testid="pagination" class="flex inset-x-0 justify-center fixed bottom-10" *ngIf="showButtons$ | async">
    <app-paging [currentPage]="currentPage" 
        [maxNumPages]="(maxPages$ | async) ?? 1"
        (onNextClicked)="goToNextPage()"
        (onPreviousClicked)="goToPrevPage()"></app-paging>
</div>
